@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100vh;
    width: 100%;
}

body{
    
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.show-btn{
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    transition: all 0.3s;
}

.show-btn:hover{
    box-shadow: 0px 0px 10px rgb(255, 179, 179);
}

.show-btn i{
    font-size: 25px;
}

.side-container{
    overflow: hidden;
    height: 100%;
    width: 0px;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.top  {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 0px 7px rgb(102, 95, 95);
    border-radius: 5px;
}

.top a{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    font-size: 30px;
}

.top i{
    color: rgb(11, 8, 8);
    border-radius: 50%;
    margin-top: 10px;
    transition: all 0.3s;
}
.top h3{
    font-weight: 300;
}

.top i:hover{
    box-shadow: 0px 0px 10px white;
}
.top .icon-container{
    position:relative;
    left: 70px;
}
.main-container{
    height: 100%;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 0px 7px rgb(102, 95, 95);
    display: flex;
    flex-direction: column;
}

.main-container ul:nth-child(1){
    margin-top: 40px;
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-container > ul > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-left: 20px;
}

.main-container i{
    background-color: transparent;
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.3s;
}

.main-container > ul > li:hover {
    box-shadow: 0px 0px 7px rgb(102, 95, 95);
}

.main-container > ul > li:hover i{
    background-color: transparent;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
    perspective: 1000px;
}


.main-container.main-container > ul > li > p {
    margin-left: 20px;
    font-weight: 300;
}

.social-media {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.social-media .social-media-logo{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 17px;
    transition: all 0.3s ease-in-out;
}

.social-media .social-media-logo:hover{
    box-shadow: 0px 0px 10px white;
    perspective: 1000px;
}

.social-media .social-media-logo i{
    font-size: 30px;
}

.social-media .social-media-logo a{
    text-decoration: none;
    color: white;
}
